@font-face {
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: normal;
    src: local('WorkSansMedium'), local('WorkSansMedium'), url('./fonts/WorkSans-Medium.otf') format('opentype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'WorkSansLight';
    font-style: normal;
    font-weight: normal;
    src: local('WorkSansLight'), local('WorkSansLight'), url('./fonts/WorkSans-Light.otf') format('opentype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'WorkSansExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('WorkSansExtraLight'), local('WorkSansExtraLight'), url('./fonts/WorkSans-ExtraLight.otf') format('opentype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


* {
    font-family: "WorkSansLight", Arial, sans-serif;
}

body{
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
strong {
    color: gray;
    /*text-transform: uppercase;*/
    font-family: "WorkSansExtraLight", Arial, sans-serif;
    /*margin-top: 1.5em;*/
    margin-bottom: 0em;
    font-weight: lighter;
    /*word-spacing: 4px;*/
    padding-left: 15px;
}

h1 {
    font-size: 60px;
    letter-spacing: 1px;
    color:gray; /*#482e1f;*/
    margin-top: 20px;
    padding-left:0px;
}

a{
    padding-left:15px;
}

/*Top navigation window*/
.navbar{
    background: #FAFAFA;
    color: white;
    border-width: 0 0 0px;
}

.navbar-fixed-top{
    min-height: 45px;
}


.nav-title {
    color: gray;
    /*text-transform: uppercase;
    font-family: "Work Sans", Arial, sans-serif;*/
    /*margin-top: 1.5em;*/
    margin-bottom: 0em;
    letter-spacing: 2px;
    font-size: 24px;
    /*font-weight: bolder;*/
    word-spacing: 4px;
    padding-left: 0px;
    padding-right: 75px;
    padding-top: 7px;
}

.vis-div{
    width:100%;
    height:100%;
}

#map{
    width:100%;
    height:90vh;
}

.map{
    width:100%;
    height:100%;
}

.background {
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #ccc;
    cursor: pointer;
}

.feature.active {
    fill: orange;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.rect-background {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    fill:transparent;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}